.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headstart{
  font-weight: bold;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 50%
}

.headstart > label {
  font-size: 4.34vw;
  text-decoration: none;
  color: white;
}
.headstart > span {
  font-size: 5vw;
  text-decoration: none;
  color: white;
}

.intro {
  height: 60vh;
}

